@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.body {
  height: 100vh;
  width: 100vw;
  font-family: "Plus Jakarta Sans";
}

.container {
  height: 100vh;
  width: 100vw;
}

/* Desktop version */
.hero-desktop {
  position: absolute;
  width: 991.63px;
  height: 936.92px;
  left: 784px;
  top: -146.13px;
}
.content {
  width: 1110px;
  margin-left: 165px;
  margin-top: 38px;
}
nav {
  display: flex;
}
.logo {
  width: 111.17px;
  height: 27.68px;
  margin-left: 0px;
}
.dark-btn {
  margin-left: 831px;
  width: 167px;
  height: 56px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  background: #13183f;
  border-radius: 28px;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.h1 {
  font-weight: 800;
  font-family: "Plus Jakarta Sans";
  font-size: 56px;
  line-height: 71px;
  color: #13183f;
  margin-top: 185px;
  width: 457px;
}
.p1 {
  height: 84px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869a;
  margin-top: 29px;
  width: 445px;
}
.btn2 {
  width: 167px;
  height: 63px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  border: #ffffff;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  margin-top: 40px;
}
.art {
  display: grid;
  margin-top: 223px;
  grid-template-columns: 350px 350px 350px;
  row-gap: 56px;
  column-gap: 32px;
}
.text {
  width: 350px;
  height: 322px;
  margin-top: 27px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 15px 15px 15px#f0f1ff;
}
.h2 {
  height: 120px;
  width: 286px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  margin-top: 64px;
  margin-left: 32px;
}
.animation {
  width: 350px;
  height: 346px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 15px 15px 15px #f0f1ff;
}
.animation-img {
  width: 56px;
  height: 56px;
  margin-left: 32px;
}
.p2 {
  width: 120px;
  height: 30px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #13183f;
  margin-top: 32px;
  margin-left: 32px;
}
.p3 {
  width: 286px;
  margin-top: 24px;
  margin-left: 32px;
  height: 112px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869a;
}
.p4 {
  margin-top: 24px;
  margin-left: 32px;
  height: 28px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
}
.design {
  width: 350px;
  height: 346px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 15px 15px 15px #f0f1ff;
}
.design-img {
  width: 56px;
  height: 56px;
  margin-left: 32px;
}
.p5 {
  width: 120px;
  height: 30px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #13183f;
  margin-top: 32px;
  margin-left: 32px;
}
.p6 {
  width: 286px;
  margin-top: 24px;
  margin-left: 32px;
  height: 112px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869a;
}
.photography {
  width: 350px;
  height: 346px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 15px 15px 15px #f0f1ff;
}
.photography-img {
  width: 56px;
  height: 56px;
  margin-left: 32px;
}
.p7 {
  width: 120px;
  height: 30px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #13183f;
  margin-top: 32px;
  margin-left: 32px;
}
.p8 {
  width: 286px;
  margin-top: 24px;
  margin-left: 32px;
  height: 112px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869a;
}
.crypto {
  width: 350px;
  height: 346px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 15px 15px 15px #f0f1ff;
}
.crypto-img {
  width: 56px;
  height: 56px;
  margin-left: 32px;
}
.p9 {
  width: 120px;
  height: 30px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #13183f;
  margin-top: 32px;
  margin-left: 32px;
}
.p10 {
  width: 286px;
  margin-top: 24px;
  margin-left: 32px;
  height: 112px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869a;
}
.business {
  width: 350px;
  height: 346px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 15px 15px 15px#f0f1ff;
}
.business-img {
  width: 56px;
  height: 56px;
  margin-left: 32px;
}
.p11 {
  width: 120px;
  height: 30px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #13183f;
  margin-top: 32px;
  margin-left: 32px;
}
.p12 {
  width: 286px;
  margin-top: 24px;
  margin-left: 32px;
  height: 112px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869a;
}
footer {
  width: 1440px;
  height: 120px;
  background: #13183f;
  margin-top: 140px;
}
.logo-light {
  width: 111.17px;
  height: 27.68px;
  margin-left: 165px;
  margin-top: 46px;
}
.btn3 {
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  border-radius: 28px;
  margin-left: 831px;
  margin-top: 32px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  width: 167px;
  height: 56px;
}
/* Tablet versoin */
@media screen and (max-width: 768px) {
  .content {
    width: 689px;
    margin-left: 39px;
    margin-top: 24px;
  }
  .hero-desktop {
    position: absolute;
    width: 640.71px;
    height: 640px;
    left: 425px;
    top: -92.13px;
  }
}
